/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color:#1b1a1a;  
    
    color: #f3e9e9;
    font: Verdana, Arial, Sans-Serif;
}

#Plaatjelol{
    Height: 350px;
    width: 700px;
}
main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 220px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #8520c9;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(236, 235, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #bd0c0c;
}

nav li a.active {
    background-color: rgb(219, 15, 202);
}




